:host{
    flex: 1;
    min-height: 35rem;
    border-radius: var(--border-radius);
    border: 1px solid #D9F0B8;
    background-color: #fff;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;

    .title{
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    i{
        font-size: 0.5rem;
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .total-count{
        font-size: 0.85rem;
    }

    .todo{
        color: #9ca3af;
    }

    .inProgress{
        color: var(--lime-green);
    }

    .done{
        color: #22c55e;
    }

    .tasks-wrapper{
        padding-block:1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    button{
        margin-top: auto;
        font-size: 1.25rem;
        background: none;
        border-radius: var(--border-radius);
        border: 1px dashed var(--inactive-icon);
        color: var(--date-color);
        padding-block: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        cursor: pointer;
        font-weight: 200;
        
        i{
            font-size: 1.25rem;
        }
    }
}